<div class="media pt-2 align-items-center content pb-3 w-75">
    <div class="media-body">
        <h2 class="m-0 fz-body font-weight-normal pr-3 text-overflow-1-lines">
            <a href="@Url.Action("ChiTietTruyen","Truyen",new { id =Model.MaTruyen })" style="font-size:16px;text-decoration:none;color:#333">@Model.TenTruyen</a>
        </h2>
    </div>
    <span class="float-right text-success">@Model.NhanThuong</span>
</div>
