
@{
    ViewBag.Title = "ThatBai";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}

<div class="text-center py-3 border-bottom my-5 container">
    <h6 class="mb-5" style="padding:5px;border-radius:20px ;box-shadow: 0px 0px 5px 5px #66FFFF;">Rất Tiếc, chúng tôi không tìm thấy bất kỳ kết quả nào</h6>
</div>



