@model IEnumerable<WebTruyen_Asp.Models.TruyenDangDoc>
@{ 
    var Sodem = Model.Count();
    
}
<div class="page-content col-md-4">
    <h5 class="Title mb-2 mt-1 py-2">Đang Đọc</h5>
  
        <div class="media mb-3">
            <img src="" width="32" height="44" />
            <div class="media-body px-2">
                <h4><a class="list-unstyled" href="">Đấu La Đại Lục IV Chung Cực Đấu La</a></h4>
                <div class="">Đã Đọc:</div>
            </div>
        </div>
    
    <div class="media mb-3">
        <div class="shine shine-bg"></div>
        <div class="media-body px-2">
            <div class="shine-line shine-bg"></div>
            <div class="shine-line shine-bg"></div>
        </div>
    </div>
    <div class="media mb-3">
        <img src="" width="32" height="44" />
        <div class="media-body px-2">
            <h4><a class="list-unstyled" href="">Đấu La Đại Lục IV Chung Cực Đấu La</a></h4>
            <div class="">Đã Đọc:</div>
        </div>
    </div>
    <div class="media mb-3">
        <img src="" width="32" height="44" />
        <div class="media-body px-2">
            <h4><a class="list-unstyled" href="">Đấu La Đại Lục IV Chung Cực Đấu La</a></h4>
            <div class="">Đã Đọc:</div>
        </div>
    </div>
    <div class="media mb-3">
        <img src="" width="32" height="44" />
        <div class="media-body px-2">
            <h4><a class="list-unstyled" href="">Đấu La Đại Lục IV Chung Cực Đấu La</a></h4>
            <div class="">Đã Đọc:</div>
        </div>
    </div>
    <div class="media mb-3">
        <img src="" width="32" height="44" />
        <div class="media-body px-2">
            <h4><a class="list-unstyled" href="">Đấu La Đại Lục IV Chung Cực Đấu La</a></h4>
            <div class="">Đã Đọc:</div>
        </div>
    </div>
    <hr />
</div>
