
@{
    ViewBag.Title = "DangKy";
    Layout = "~/Views/NguoiDung/_LayoutDangNhap.cshtml";
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <div  class="form-register">
        <h2 class="text-center">Đăng Ký</h2>
        <input name="TenDangNhap" type="text" placeholder="Tên Đăng nhập">
        <div>@ViewData["Loi1"]</div>
        <input name="Email" type="text" placeholder="Email">
        <input name="SDT" type="text" placeholder="Số điện thoại">
        <input name="MatKhau" type="password" placeholder="Mật khẩu">
        <input name="NhapLaiMatKhau" type="password" placeholder="Nhập lại Mật khẩu">
        <button class="btn btn-danger" type="submit"> Đăng ký</button>
        <div class="or mt-4"><i>Or</i></div>
        <span><a href="#"><i class="fab fa-facebook"></i></a></span>
        <span><a href="#"><i class="fab fa-google-plus"></i></a></span>
    </div>
}

